html {
  background-color: rgb(193, 241, 225);
}

body {
  display: flex;
  align-items: center;

}

h1 {
  text-transform: uppercase;
}

p {
  text-transform: capitalize;

}

img {
  max-width: 300px;
}
